@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

#root {
  min-height: 100vh;
  background-color: rgb(49, 49, 49);
  background: linear-gradient(0deg, rgb(63, 63, 63) 0%, rgb(22, 22, 22) 100%);
}

header {
  height: 40px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  background: rgb(228,138,252);
  background: linear-gradient(90deg, rgba(238,135,249,1) 0%, rgba(79,54,176,1) 100%);
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav .nav-brand a {
  font-family: 'Orbitron', sans-serif;
  font-size: 2rem;
  color: black;
  cursor: pointer;
  text-decoration: none;

}

nav .nav-brand a:hover {
  color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

nav ul li a {
  text-decoration: none;
  padding: 1rem;
  margin: 0 0.5rem;
  color: black;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.603);
  border-radius: 0.5rem;
}

nav img {
  height: 30px;
  cursor: pointer;
  margin: 0 0.5rem;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.cart span {
  color: white;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content h1 {
  color: white;
  margin: 2rem 0;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.product-card {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
  width: 450px;
  height: 500px;
  background-color: white;
  margin: 15px;
  padding: 10px;
  border-radius: 30px;
}

.product-card img {
  width: 250px;
}

.product-card h3 {
  padding: 10px 0;
  text-align: center;
  max-width: 350px;
}

.product-card p {
  text-align: center;
  max-width: 400px;
}

.product-card a {
  width: 100px;
}

.error-page {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-page h1 {
  color: white;
  padding: 10px 0;
}

.item-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.item-detail h1 {
  color: white;
  margin-bottom: 20px;
}

.item-detail img {
  width: 300px;
  padding: 50px;
  background-color: white;
  border-radius: 50px;
  margin-bottom: 20px;
}

.item-detail p {
  color: white;
  font-size: 18px;
  margin-bottom: 5px;
}

.item-detail h5 {
  color: rgba(237, 135, 249, 0.733);
  font-size: 16px;
}

.div-loading {
  color: white;
  font-size: 14px;
  padding: 20px;
}

.item-counter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.699);
  margin: 10px 0 0 0;
  border-radius: 20px;
}

.counter-controls .counter-btn {
  width: 20px;
  height: 20px;
  font-size: 18px;
  border: none;
  background-color: transparent;
}

.cart-detail {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}

.cart-detail h1 {
  color: white;
  font-size: 25px;
  padding: 10px 0;
 }

.cart-detail h2 {
  color: rgb(237, 135, 249);
  font-size: 25px;
 }

 .cart-detail span {
  color: white;
  font-size: 25px;
  font-weight: bold;
 }

.cart-products-list {
  padding: 25px;
}

.cart-product-card {
  background-color: white;
  width: 900px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  margin-bottom: 5px;
}

.cart-product-card img {
  width: 80px;
  padding: 0 10px;
}

.cart-product-card h3 {
  width: 300px;
  margin: 0 10px;
}

.cart-product-card h5 {
  width: 150px;
  text-align: center;
  font-size: 16px;
}

.cart-product-card p {
  width: 400px;
}

.cart-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.btn-delete-product {
  width: 30px;
  height: 30px;
  margin: 10px;
  border: none;
  background-color:rgba(237, 135, 249, 0.733);
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.btn-primary {
  background: rgb(228,138,252);
  background: linear-gradient(90deg, rgba(238,135,249,1) 0%, rgba(79,54,176,1) 100%);
  text-decoration: none;
  color: white;
  padding: 15px;
  width: 200px;
  text-align: center;
  margin: 10px 0;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-primary:hover {
  background:rgb(12, 12, 12);
}

.btn-secondary {
  background: rgb(209, 209, 209);
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}

.btn-clear-cart {
  background-color: crimson;
  border: none;
  color: white;
  width: 100px;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.empty-cart {
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.empty-cart h1 {
  color: white;
  padding: 10px 0;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-products-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  margin: 0 0 15px 0;
}

.checkout-product-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  padding: 10px 10px;
}

.checkout-product-card h5{
  width: 600px;
  font-size: 16px;
  font-weight: 400;
}

.checkout h2 {
  color: white;
  padding: 15px 0;
}

.checkout h3 {
  color: white;
}

.buyer-form {
  padding: 20px 0 0 0;
}

.buyer-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buyer-form form input {
  width: 500px;
  height: 25px;
  padding: 5px 0 5px 10px;
  margin: 5px 0;
  border-radius: 15px;
  border: none;
  background-color: rgb(232, 172, 248);
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-align: center;
}

.loader-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.custom-loader {
  width:50px;
  height:12px;
  background: radial-gradient(circle closest-side,#E884F6 90%,#0000) 0 0/33% 100% space;
  clip-path: inset(0 100% 0 0);
  animation:d1 1s steps(4) infinite;
}
@keyframes d1 {to{clip-path: inset(0 -34% 0 0)}}

.successful-order {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.successful-order h1 {
  color: white;
  padding: 10px 0;
}

.successful-order h3 {
  color: white;
  font-weight: lighter;
}

.successful-order span {
  color: #E884F6;
  padding: 10px 0;
  font-weight: bold;
}